In [1]:
import pandas as pd
import os
import sys
import pymysql
from sqlalchemy import create_engine
from sqlalchemy.types import CHAR,INT
from sqlalchemy.orm import sessionmaker

#stock_api表
connect_info = 'mysql+pymysql://root:87654321@localhost:3306/stock_api?charset=utf8'
engine = create_engine(connect_info) #use sqlalchemy to build link-engine

#indicators路径
indi_path=r'data/fina_indicator'

# 创建财务数据表

In [2]:
with open('table_fina_indicators.sql',encoding='utf-8',mode='r') as f:
    create_table_fina_indicators_sql = f.read()
    print(create_table_fina_indicators_sql)

CREATE TABLE tush_fina_indicators (
	ts_code VARCHAR ( 255 ) NOT NULL,
	ann_date VARCHAR ( 255 ) NOT NULL,
	end_date VARCHAR ( 255 ) NOT NULL,
	eps FLOAT ( 20 ),
	dt_eps FLOAT ( 20 ),
	total_revenue_ps FLOAT ( 20 ),
	revenue_ps FLOAT ( 20 ),
	capital_rese_ps FLOAT ( 20 ),
	surplus_rese_ps FLOAT ( 20 ),
	undist_profit_ps FLOAT ( 20 ),
	extra_item FLOAT ( 20 ),
	profit_dedt FLOAT ( 20 ),
	gross_margin FLOAT ( 20 ),
	current_ratio FLOAT ( 20 ),
	quick_ratio FLOAT ( 20 ),
	cash_ratio FLOAT ( 20 ),
	invturn_days FLOAT ( 20 ),
	arturn_days FLOAT ( 20 ),
	inv_turn FLOAT ( 20 ),
	ar_turn FLOAT ( 20 ),
	ca_turn FLOAT ( 20 ),
	fa_turn FLOAT ( 20 ),
	assets_turn FLOAT ( 20 ),
	op_income FLOAT ( 20 ),
	valuechange_income FLOAT ( 20 ),
	interst_income FLOAT ( 20 ),
	daa FLOAT ( 20 ),
	ebit FLOAT ( 20 ),
	ebitda FLOAT ( 20 ),
	fcff FLOAT ( 20 ),
	fcfe FLOAT ( 20 ),
	current_exint FLOAT ( 20 ),
	noncurrent_exint FLOAT ( 20 ),
	interestdebt FLOAT ( 20 ),
	netdebt FLOAT ( 20 ),
	tangible_asset FLOAT ( 20 ),
	working_capital FLOAT ( 20 ),
	networking_capital FLOAT ( 20 ),
	invest_capital FLOAT ( 20 ),
	retained_earnings FLOAT ( 20 ),
	diluted2_eps FLOAT ( 20 ),
	bps FLOAT ( 20 ),
	ocfps FLOAT ( 20 ),
	retainedps FLOAT ( 20 ),
	cfps FLOAT ( 20 ),
	ebit_ps FLOAT ( 20 ),
	fcff_ps FLOAT ( 20 ),
	fcfe_ps FLOAT ( 20 ),
	netprofit_margin FLOAT ( 20 ),
	grossprofit_margin FLOAT ( 20 ),
	cogs_of_sales FLOAT ( 20 ),
	expense_of_sales FLOAT ( 20 ),
	profit_to_gr FLOAT ( 20 ),
	saleexp_to_gr FLOAT ( 20 ),
	adminexp_of_gr FLOAT ( 20 ),
	finaexp_of_gr FLOAT ( 20 ),
	impai_ttm FLOAT ( 20 ),
	gc_of_gr FLOAT ( 20 ),
	op_of_gr FLOAT ( 20 ),
	ebit_of_gr FLOAT ( 20 ),
	roe FLOAT ( 20 ),
	roe_waa FLOAT ( 20 ),
	roe_dt FLOAT ( 20 ),
	roa FLOAT ( 20 ),
	npta FLOAT ( 20 ),
	roic FLOAT ( 20 ),
	roe_yearly FLOAT ( 20 ),
	roa2_yearly FLOAT ( 20 ),
	roe_avg FLOAT ( 20 ),
	opincome_of_ebt FLOAT ( 20 ),
	investincome_of_ebt FLOAT ( 20 ),
	n_op_profit_of_ebt FLOAT ( 20 ),
	tax_to_ebt FLOAT ( 20 ),
	dtprofit_to_profit FLOAT ( 20 ),
	salescash_to_or FLOAT ( 20 ),
	ocf_to_or FLOAT ( 20 ),
	ocf_to_opincome FLOAT ( 20 ),
	capitalized_to_da FLOAT ( 20 ),
	debt_to_assets FLOAT ( 20 ),
	assets_to_eqt FLOAT ( 20 ),
	dp_assets_to_eqt FLOAT ( 20 ),
	ca_to_assets FLOAT ( 20 ),
	nca_to_assets FLOAT ( 20 ),
	tbassets_to_totalassets FLOAT ( 20 ),
	int_to_talcap FLOAT ( 20 ),
	eqt_to_talcapital FLOAT ( 20 ),
	currentdebt_to_debt FLOAT ( 20 ),
	longdeb_to_debt FLOAT ( 20 ),
	ocf_to_shortdebt FLOAT ( 20 ),
	debt_to_eqt FLOAT ( 20 ),
	eqt_to_debt FLOAT ( 20 ),
	eqt_to_interestdebt FLOAT ( 20 ),
	tangibleasset_to_debt FLOAT ( 20 ),
	tangasset_to_intdebt FLOAT ( 20 ),
	tangibleasset_to_netdebt FLOAT ( 20 ),
	ocf_to_debt FLOAT ( 20 ),
	ocf_to_interestdebt FLOAT ( 20 ),
	ocf_to_netdebt FLOAT ( 20 ),
	ebit_to_interest FLOAT ( 20 ),
	longdebt_to_workingcapital FLOAT ( 20 ),
	ebitda_to_debt FLOAT ( 20 ),
	turn_days FLOAT ( 20 ),
	roa_yearly FLOAT ( 20 ),
	roa_dp FLOAT ( 20 ),
	fixed_assets FLOAT ( 20 ),
	profit_prefin_exp FLOAT ( 20 ),
	non_op_profit FLOAT ( 20 ),
	op_to_ebt FLOAT ( 20 ),
	nop_to_ebt FLOAT ( 20 ),
	ocf_to_profit FLOAT ( 20 ),
	cash_to_liqdebt FLOAT ( 20 ),
	cash_to_liqdebt_withinterest FLOAT ( 20 ),
	op_to_liqdebt FLOAT ( 20 ),
	op_to_debt FLOAT ( 20 ),
	roic_yearly FLOAT ( 20 ),
	total_fa_trun FLOAT ( 20 ),
	profit_to_op FLOAT ( 20 ),
	q_opincome FLOAT ( 20 ),
	q_investincome FLOAT ( 20 ),
	q_dtprofit FLOAT ( 20 ),
	q_eps FLOAT ( 20 ),
	q_netprofit_margin FLOAT ( 20 ),
	q_gsprofit_margin FLOAT ( 20 ),
	q_exp_to_sales FLOAT ( 20 ),
	q_profit_to_gr FLOAT ( 20 ),
	q_saleexp_to_gr FLOAT ( 20 ),
	q_adminexp_to_gr FLOAT ( 20 ),
	q_finaexp_to_gr FLOAT ( 20 ),
	q_impair_to_gr_ttm FLOAT ( 20 ),
	q_gc_to_gr FLOAT ( 20 ),
	q_op_to_gr FLOAT ( 20 ),
	q_roe FLOAT ( 20 ),
	q_dt_roe FLOAT ( 20 ),
	q_npta FLOAT ( 20 ),
	q_opincome_to_ebt FLOAT ( 20 ),
	q_investincome_to_ebt FLOAT ( 20 ),
	q_dtprofit_to_profit FLOAT ( 20 ),
	q_salescash_to_or FLOAT ( 20 ),
	q_ocf_to_sales FLOAT ( 20 ),
	q_ocf_to_or FLOAT ( 20 ),
	basic_eps_yoy FLOAT ( 20 ),
	dt_eps_yoy FLOAT ( 20 ),
	cfps_yoy FLOAT ( 20 ),
	op_yoy FLOAT ( 20 ),
	ebt_yoy FLOAT ( 20 ),
	netprofit_yoy FLOAT ( 20 ),
	dt_netprofit_yoy FLOAT ( 20 ),
	ocf_yoy FLOAT ( 20 ),
	roe_yoy FLOAT ( 20 ),
	bps_yoy FLOAT ( 20 ),
	assets_yoy FLOAT ( 20 ),
	eqt_yoy FLOAT ( 20 ),
	tr_yoy FLOAT ( 20 ),
	or_yoy FLOAT ( 20 ),
	q_gr_yoy FLOAT ( 20 ),
	q_gr_qoq FLOAT ( 20 ),
	q_sales_yoy FLOAT ( 20 ),
	q_sales_qoq FLOAT ( 20 ),
	q_op_yoy FLOAT ( 20 ),
	q_op_qoq FLOAT ( 20 ),
	q_profit_yoy FLOAT ( 20 ),
	q_profit_qoq FLOAT ( 20 ),
	q_netprofit_yoy FLOAT ( 20 ),
	q_netprofit_qoq FLOAT ( 20 ),
	equity_yoy FLOAT ( 20 ),
	rd_exp FLOAT ( 20 ),
	update_flag VARCHAR ( 255 ),
	PRIMARY KEY ( end_date, ts_code ),
	INDEX idx ( ts_code, end_date ) USING BTREE
) ENGINE = INNODB CHARACTER
SET = utf8mb4 COLLATE = utf8mb4_unicode_ci;

In [3]:
Session_class = sessionmaker(bind=engine)       #创建用于数据库session的类
session = Session_class()                       #这里才是生成session实例可以理解为cursor

In [4]:
session.execute(create_table_fina_indicators_sql)

# 创建交易日历表

In [5]:
with open('table_trade_cal.sql',encoding='utf-8',mode='r') as f:
    create_table_trade_cal_sql = f.read()
    print(create_table_trade_cal_sql)

CREATE TABLE tush_trade_cal (
    exchange VARCHAR ( 255 ),
	cal_date date NOT NULL,
	is_open VARCHAR ( 255 ),
	pretrade_date date,
	PRIMARY KEY (`cal_date`)
)
ENGINE = INNODB CHARACTER
SET = utf8mb4
COLLATE = utf8mb4_unicode_ci;

In [6]:
session.execute(create_table_trade_cal_sql)

# 创建股票历史数据表

In [7]:
with open('table_hist_data.sql',encoding='utf-8',mode='r') as f:
    create_table_hist_data_sql = f.read()
    print(create_table_hist_data_sql)

CREATE TABLE `tush_hist_data` (
  `ts_code` varchar(255) NOT NULL,
  `trade_date` datetime NOT NULL,
  `open` float(10) NULL,
  `high` float(10) NULL,
  `low` float(10) NULL,
  `close` float(10) NULL,
  `pre_close` float(10) NULL,
  `change` float(10) NULL,
  `pct_chg` float(10) NULL,
  `vol` int NULL,
  `amount` float(20) NULL,
  PRIMARY KEY (`ts_code`, `trade_date`)
);

In [8]:
session.execute(create_table_hist_data_sql)